.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 24px 156px;
}
.gallery-image {
  height: 200px;
  width: 360px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.05);
}

.feedback-form {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form input {
  font-family: 'Montserrat', serif;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feedback-form input:hover,
.feedback-form input:focus {
  border: 1px solid #000000;
}

.feedback-form textarea {
  font-family: 'Montserrat', serif;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border: 1px solid #000000;
}

.feedback-form button {
  font-family: 'Montserrat', serif;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background: #6c8cff;
}